*		        text=auto

# batch files

*.sh		    text eol=lf
*.bat		    text eol=crlf

# Documents
*.md		    text
Dockerfile  text


# Program files / Libraries
*.css		    text
*.df		    text
*.htm		    text
*.html	   	text
*.java	    text
*.js		    text
*.json		  text
*.jsp		    text
*.jspf		  text
*.properties	text
*.tld		    text
*.txt		    text
*.xml		    text
*.php       text
*.sql       text
*.yml       text
*.py        text eol=lf

# Graphics
*.gif       binary
